language: java
sudo: true

env:
- SPRING_PROFILES_ACTIVE=ci

addons:
  chrome: stable

services:

jdk:
- oraclejdk8

before_script:
- ./gradlew npm_install -g @angular/cli
script:
- ./gradlew :frontend:lint
- ./gradlew :frontend:test
- ./gradlew :backend:test
- ./gradlew :backend:bootJar
- ./startServer.sh 0.0.1
- ./gradlew :frontend:e2e