<div class="container">
  <div class="flex-item">
    <mat-form-field class="ca80 project-filter">
      <mat-label>Zühlke Company</mat-label>
      <mat-select class="mat-select" multiple [(ngModel)]="filterSelection.zuehlkeCompany"
        (selectionChange)="applyFilters()">
        <mat-option *ngFor="let company of filterOptions.companies" [value]="company">{{company}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ca80 project-filter">
      <mat-label>Industry</mat-label>
      <mat-select class="mat-select" multiple [(ngModel)]="filterSelection.industry" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let industry of filterOptions.industries" [value]="industry">{{industry}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ca80 project-filter">
      <mat-label>Skills</mat-label>
      <mat-select class="mat-select" multiple [(ngModel)]="filterSelection.skills" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let skill of filterOptions.skills" [value]="skill">{{skill}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ca80 project-filter">
      <mat-label># Employees</mat-label>
      <mat-select class="mat-select" [(ngModel)]="filterSelection.employees" (selectionChange)="applyFilters()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let employeeNumber of filterOptions.employeeNumbers" [value]="employeeNumber">
          {{employeeNumber}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ca80 project-filter">
      <mat-label>Distributed</mat-label>
      <mat-select class="mat-select" [(ngModel)]="filterSelection.distributed" (selectionChange)="applyFilters()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let distributionValue of filterOptions.distributionValues" [value]="distributionValue">
          {{distributionValue ? 'Yes' : 'No'}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="resetFilter()">Reset Filter</button>
  </div>
  <div class="fixed">
    <button mat-raised-button matTooltip="Subscribe for new projects with given filter settings" class="mat-raised-button btn-zuehlke-orange" (click)="openSnackBar()">Subscribe</button>
  </div>
</div>
