  <mat-drawer-container class="map-container">
    <mat-drawer mode="side" opened class="project-list">
      <div class="container">
        <div class="flex-item">
          <h2>Projects ({{getProjectsList().length}})</h2>
        </div>
        <div class="fixed">
          <button mat-mini-fab matTooltip="Show only projects on the whishlist"
            [ngClass]="{'button-favorite':showOnlyFavorites, 'button-not-favorite':!showOnlyFavorites}"
            matBadge="{{getFavoriteProjectsList().length}}" matBadgePosition="after" matBadgeColor="primary"
            (click)="onFavorites()">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
      <mat-card *ngFor="let project of getProjectsList()" (click)="redirectToProjectURL(project)">
        <mat-card-header>
          <img mat-card-avatar class="project-logo" [src]="project.logoURL">
          <h4>{{ project.title }}</h4>
        </mat-card-header>
        <mat-card-content>
          <div class="project-detail-item">
            <mat-icon matTooltip="Location">location_on</mat-icon>
            <div> {{ project.location.street + ', ' + project.location.zip + ' ' + project.location.city }} </div>
          </div>
          <div class="project-detail-item">
            <mat-icon matTooltip="Needed skills">build</mat-icon>
            <div [matTooltip]="project.skills.join(', ')" matTooltipShowDelay="400">
              {{ project.skills.slice(0, 10).join(', ') }}
            </div>
          </div>
          <div class="project-detail-item">
            <mat-icon matTooltip="Industry">business</mat-icon>
            <div> {{ project.industry }} </div>
          </div>
          <div class="project-detail-item">
            <mat-icon matTooltip="Number of staffed people">people_outline</mat-icon>
            <div> {{ project.amountOfEmployees }} </div>
            <button matTooltip="Add to whishlist"
              [ngClass]="{'button-favorite':project.isFavorite, 'button-not-favorite':!project.isFavorite}" mat-mini-fab
              (click)="onFavorite($event, project)">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      <div class="secondary-header">
        <app-project-filter></app-project-filter>
      </div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="resetProjectSelection()"
        (zoomChange)="onZoomChange($event)">
        <div *ngFor="let project of projects">
          <agm-circle [latitude]="project.location.latitude" [longitude]="project.location.longitude"
            [radius]="calculateRadius(project.amountOfEmployees)" (circleClick)="selectProject(project)"
            [fillColor]="calculateColor(project)">
          </agm-circle>
        </div>
      </agm-map>
    </mat-drawer-content>
  </mat-drawer-container>
