agm-map {
  height: calc(100% - 104px);
}

.map-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .secondary-header {
    height: 65px;
  }

  .project-list {
    width: 450px;
    height: calc(100% - 64px);

    mat-card {
      margin: 20px 10px;
      border-radius: 2px;
      text-decoration: none;

      .project-logo {
        border-radius: 0;
        height: 50px;
        width: auto;
      }

      .project-detail-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0;

        mat-icon {
          flex: 1;
          font-size: 20px;
          height: auto;
        }

        div {
          flex: 7;
        }
      }
    }

    h2 {
      margin: 20px;
    }
  }
}
