.map-container {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;

  .secondary-header {
    height: 65px;
  }

  agm-map {
    height: calc(100% - 65px);
  }

  .project-list {
    width: 450px;
    height: 100%;

    cdk-virtual-scroll-viewport {
      height: calc(100% - 70px);
    }

    h2 {
      margin: 20px;
    }
  }
}
.container {
  display: flex;
  margin-left: 10px;
  height: 70px;
}

.fixed {
  margin: 20px;
}

.flex-item {
  flex-grow: 1;
}

.button-favorite {
  background-color: #f44336;
  color: white;
  opacity: 1;
  margin-top: -15px;
  margin-left: 10px;
}

.button-not-favorite {
  background-color: gray;
  color: black;
  opacity: 0.5;
  margin-top: -15px;
  margin-left: 10px;
}
.mat-badge-content {
  background: #925FA7;
}
