  <mat-drawer-container class="map-container">
    <mat-drawer mode="side" opened class="project-list">
      <h2>Projects ({{getProjectsList().length}})</h2>
      <mat-card *ngFor="let project of getProjectsList()" (click)="redirectToProjectURL(project)">
        <mat-card-header>
          <img mat-card-avatar class="project-logo" [src]="project.logoURL">
          <h4>{{ project.title }}</h4>
        </mat-card-header>
        <mat-card-content>
          <div class="project-detail-item">
            <mat-icon>location_on</mat-icon>
            <div> {{ project.location.street + ', ' + project.location.zip + ' ' + project.location.city }} </div>
          </div>
          <div class="project-detail-item">
            <mat-icon>build</mat-icon>
            <div> {{ project.skills.join(', ') }} </div>
          </div>
          <div class="project-detail-item">
            <mat-icon>business</mat-icon>
            <div> {{ project.industry }} </div>
          </div>
          <div class="project-detail-item">
            <mat-icon>people_outline</mat-icon>
            <div> {{ project.amountOfEmployees }} </div>
            <button [ngClass]="{'button-favorite':project.isFavorite, 'button-not-favorite':!project.isFavorite}" mat-mini-fab (click)="onFavorite($event, project)">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      <div class="secondary-header">
        <app-project-filter></app-project-filter>
      </div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="resetProjectSelection()">
        <div *ngFor="let project of projects">
          <agm-circle [latitude]="project.location.latitude" [longitude]="project.location.longitude"
            [radius]="project.amountOfEmployees * 20" fillColor="red" (circleClick)="selectProject(project)">
          </agm-circle>
        </div>
      </agm-map>
    </mat-drawer-content>
  </mat-drawer-container>
