.map-container {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;

  .secondary-header {
    height: 65px;
  }

  agm-map {
    height: calc(100% - 65px);
  }

  .project-list {
    width: 450px;
    height: 100%;

    cdk-virtual-scroll-viewport {
      height: calc(100% - 70px);
    }

    mat-card {
      margin: 20px 10px;
      border-radius: 2px;
      max-height: 260px;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        background: #f9f9f9;
      }

      mat-card-header {
        height: 50px;
        align-items: center;
      }

      .project-logo {
        border-radius: 0;
        width: 100px;
        object-fit: contain;
      }

      .project-detail-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0;

        mat-icon {
          flex: 1;
          font-size: 20px;
          height: auto;
        }

        div {
          flex: 7;
        }
      }
    }

    h2 {
      margin: 20px;
    }
  }
}
.button-favorite {
  background-color: #f44336;
  color: white;
  opacity: 1;
  margin-top: -15px;
}

.button-not-favorite {
  background-color: gray;
  color: black;
  opacity: 0.5;
  margin-top: -15px;
}
.container {
  display: flex;
  margin-left: 10px;
  height: 70px;
}

.fixed {
  margin: 20px;
}

.flex-item {
  flex-grow: 1;
}
